* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.progress-bar-container {
  padding: 0.5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
  justify-items: center;
}

.indicator {
  font-family: monospace;
  color: rgb(0, 0, 0);
}
.progress-bar-wrapper {
  height: 90vh;
  border: 2px solid black;
  width: 10%;
  display: flex;
  flex-direction: column-reverse; /* in here we switch the given % with the indicator */
}
.progress-bar {
  background-color: green;
  transform: scaleY(-1);
}
